.btn
  display: block
  margin: 40px auto
  padding: 10px
  width: 100px
  font-size: 20px
  text-align: center
  color: red
  border-radius: 8px
  background: #ff9c54

h3
  text-align: center
  margin: 25px auto
  font-size: 24px
