@font-face {
  font-family: 'news-icon'
  src: url('../fonts/news-icon.eot?oeq316')
  src: url('../fonts/news-icon.eot?oeq316#iefix') format('embedded-opentype'),
    url('../fonts/news-icon.ttf?oeq316') format('truetype'),
    url('../fonts/news-icon.woff?oeq316') format('woff'),
    url('../fonts/news-icon.svg?oeq316#news-icon') format('svg');
  font-weight: normal
  font-style: normal
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'news-icon' !important;
  speak: none
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  line-height: 1

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
}

.icon-add_circle:before {
  content: "\e900"
}

.icon-arrow_lift:before {
  content: "\e901"
}

.icon-favorite:before {
  content: "\e904"
}

.icon-remove_circle_outline:before {
  content: "\e906"
}

.icon-home3:before {
  content: "\e902"
}

.icon-newspaper:before {
  content: "\e905"
}

.icon-images:before {
  content: "\e90e"
}

.icon-headphones:before {
  content: "\e910"
}

.icon-book:before {
  content: "\e91f"
}

.icon-library:before {
  content: "\e921"
}

.icon-menu:before {
  content: "\e9bd"
}

.icon-evil:before {
  content: "\e9ef"
}

.icon-circle-right:before {
  content: "\ea42"
}

.icon-joomla:before {
  content: "\eab5"
}

.icon-appleinc:before {
  content: "\eabe"
}

.icon-android:before {
  content: "\eac0"
}

.icon-html-five2:before {
  content: "\eae5"
}
